{% extends 'template.html' %}

{% load quiz_extras %}

{% block page_title %}Questions{% endblock %}

{% block title %}Questions{% endblock %}

{% block subtitle %}
    {% if user.is_authenticated and not user.is_superuser %}
        <h3>
            Remaining guesses: {{ user|remaining_guesses }}/{{ user|total_guesses }}
        </h3>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>
                {{ message }}
            </p></strong>
        {% endfor %}
    {% endif %}
    {% if error_message %}
        <p style="color:red"><strong>
            error_message
        </p></strong>
    {% elif success_message %}
        <p style="color:green"><strong>
            {{ success_message }}
        </p></strong>
    {% endif %}
{% endblock subtitle %}

{% block main %}
<section id="tables">
    <figure>
        <center>
            <table role="grid">
                <thead>
                    <th>#</th>
                    <th style="width:500px;">Question</th>
                    {% if user.is_authenticated %}
                        <th>Lower bound</th>
                        <th>Upper bound</th>
                        {% if user.is_superuser %}
                            <th>Contestant</th>
                        {% else %}
                        <th>Score</th>
                        {% endif %}
                    {% endif %}
                </thead>
                <tbody>
                    {% for question_row in question_rows %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td style="width:500px;"> {{ question_row.question.question_text }} </td>
                            {% if user.is_superuser or user.is_authenticated and user|remaining_guesses > 0 %}
                                <form action="{% url 'quiz:answer' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="question_id" value="{{ question_row.question.id }}"">
                                    <td><input name="lower_bound" type="number" min="1" placeholder={{question_row.lower_bound}}></td>
                                    <td><input name="upper_bound" type="number" min="1" placeholder={{question_row.upper_bound}}></td>
                                    {% if user.is_superuser %}
                                        <td><select name="contestant" placeholder="Contestant">
                                            {% for contestant in contestants %}
                                                <option value="{{ contestant.pk }}">{{ contestant.username }}</option>
                                            {% endfor %}
                                        </select></td>
                                    {% else %}
                                        <td>{{question_row.score}}</td>
                                    {% endif %}
                                    <td><input type="submit" value="Answer"</td>
                                </form>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </figure>
</section>
{% endblock main %}
