{% extends 'template.html' %}

{% load quiz_extras %}

{% block page_title %}Questions{% endblock %}

{% block title %}Questions{% endblock %}

{% block subtitle %}
    {% if user|has_group:"Team" %}
        <h3>
            Remaining guesses: {{ user|remaining_guesses }}/{{ user|total_guesses }}
        </h3>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>
                {{ message }}
            </p></strong>
        {% endfor %}
    {% endif %}
    {% if error_message %}
        <p style="color:red"><strong>
            error_message
        </p></strong>
    {% elif success_message %}
        <p style="color:green"><strong>
            {{ success_message }}
        </p></strong>
    {% endif %}
{% endblock subtitle %}

{% block main %}
<section id="tables">
    <figure>
        <center>
            <table role="grid">
                <tbody>
                    {% for question in questions %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td> {{ question.question_text }} </td>
                            {% if user|has_group:"Team" %}
                                <form action="{% url 'quiz:answer' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="question_id" value="{{ question.id }}"">
                                    <td><input name="lower_bound" type="number" min="1" placeholder='Lower bound'></td>
                                    <td><input name="upper_bound" type="number" min="1" placeholder='Upper bound'></td>
                                    <td><input type="submit" value="Answer"</td>
                                </form>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </figure>
</section>
{% endblock main %}
