{% extends 'template.html' %}

{% block page_title %}Standings{% endblock %}

{% block title %}Standings{% endblock %}

{% block main %}
<section id="tables">
    <figure>
        <center>
            <table role="grid">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    {% for question in questions %}
                        <th scope="col">{{ forloop.counter }}</th>
                    {% endfor %}
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                    {% for outcome in outcomes %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ outcome.contestant }}</td>
                            {% for score in outcome.scores %}
                                <td>{{ score }}</td>
                            {% endfor %}
                            <td>{{ outcome.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </figure>
</section>
{% endblock main %}
