{% load static %}
{% load quiz_extras %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{% endblock page_title %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}" >
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'quiz:rules' %}">Rules</a>
                <a href="{% url 'quiz:standings' %}">Standings</a>
                <a href="{% url 'quiz:questions' %}">Questions</a>
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'quiz:reset_results' %}">Reset results</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'quiz:logout' %}">Log Out: {{ user.get_username }}</a>
                {% else %}
                    <a href="{% url 'quiz:login' %}">Log In</a>
                {% endif %}
            </nav>
            <h1>
                {% block title %}{% endblock title %}
            </h1>
            <p>{% block subtitle %}{% endblock subtitle %}</p>
        </header>
        <main>
            {% block main %}{% endblock main %}
        </class>
    </body>
</html>


