{% load static %}
{% load quiz_extras %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{% endblock page_title %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}" >
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'quiz:rules' %}" class="{% is_active 'rules' %}">Rules</a>
                <a href="{% url 'quiz:standings' %}" class="{% is_active 'standings' %}">Standings</a>
                <a href="{% url 'quiz:questions' %}" class="{% is_active 'questions' %}">Questions</a>
                {% if user.is_authenticated and user.is_superuser %}
                    <a href="{% url 'quiz:reset_results' %}">Reset results</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'quiz:logout' %}" class="{% is_active 'logout' %}">Log Out: {{ user.get_username }}</a>
                {% else %}
                    <a href="{% url 'quiz:login' %}" class="{% is_active 'login' %}">Log In</a>
                {% endif %}
            </nav>
            <h1>
                {% block title %}{% endblock title %}
            </h1>
            <p>{% block subtitle %}{% endblock subtitle %}</p>
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>

        <footer>
            <div class="footer-item">
                <p>Created by <a href="mailto:pmrrasmussen@icloud.com">Peter Rasmussen</a></p>
            </div>
            <div class="footer-item">
                <a href="https://github.com/pmrrasmussen/estimation-quiz"><img height="40" width="40" src="{% static 'media/github.png' %}"></a>
            </div>
            <div class="footer-item">
                <p>Icons by <a href="https://www.flaticon.com/free-icons/owl" title="owl icons">Freepik - Flaticon</a></p>
            </div>
        </footer>
    </body>
</html>


